@import '../../App.css';

li {
  list-style-type: none;
}

img {
  width: 40px;
  height: 50px;
}

.characterListContainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.characterListEl {
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.imageContainer {
  height: 200px;
  margin: 10px;
  padding: 20px;
  /* gap: 10em; */
}
.imageEl {
  border-radius: 85px;
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;

}

.imageContainer:hover .imageEl {
  opacity: 0.3;
}
